<main class="main">
    <div class="container_home">
      <section>
        <h1 class="Titre">À propos de Au Petit Village</h1>
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ultricies ipsum. In scelerisque luctus tristique. Sed ut iaculis ligula. Nullam scelerisque lectus a purus ullamcorper, a lobortis odio iaculis. Vestibulum varius auctor nibh sit amet venenatis. Duis maximus metus et ante venenatis convallis. Sed quis odio eget ex semper dictum. Quisque eu libero pharetra, ultrices est ac, euismod dolor.         </p>
      </section>
  
      <section>
        <h2 class="Titre">Notre histoire</h2>
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ultricies ipsum. In scelerisque luctus tristique. Sed ut iaculis ligula. Nullam scelerisque lectus a purus ullamcorper, a lobortis odio iaculis. Vestibulum varius auctor nibh sit amet venenatis. Duis maximus metus et ante venenatis convallis. Sed quis odio eget ex semper dictum. Quisque eu libero pharetra, ultrices est ac, euismod dolor.         </p>
      </section>
  
      <section>
        <h2 class="Titre">Notre mission</h2>
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ultricies ipsum. In scelerisque luctus tristique. Sed ut iaculis ligula. Nullam scelerisque lectus a purus ullamcorper, a lobortis odio iaculis. Vestibulum varius auctor nibh sit amet venenatis. Duis maximus metus et ante venenatis convallis. Sed quis odio eget ex semper dictum. Quisque eu libero pharetra, ultrices est ac, euismod dolor.         </p>
      </section>
  
      <section>
        <h2 class="Titre">Notre équipe</h2>
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ultricies ipsum. In scelerisque luctus tristique. Sed ut iaculis ligula. Nullam scelerisque lectus a purus ullamcorper, a lobortis odio iaculis. Vestibulum varius auctor nibh sit amet venenatis. Duis maximus metus et ante venenatis convallis. Sed quis odio eget ex semper dictum. Quisque eu libero pharetra, ultrices est ac, euismod dolor.         </p>
      </section>
  
      <section>
        <h2 class="Titre">Nos valeurs</h2>
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ultricies ipsum. In scelerisque luctus tristique. Sed ut iaculis ligula. Nullam scelerisque lectus a purus ullamcorper, a lobortis odio iaculis. Vestibulum varius auctor nibh sit amet venenatis. Duis maximus metus et ante venenatis convallis. Sed quis odio eget ex semper dictum. Quisque eu libero pharetra, ultrices est ac, euismod dolor.         </p>
      </section>
  
      <section>
        <h2 class="Titre">Joignez-vous à nous</h2>
        <p class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget ultricies ipsum. In scelerisque luctus tristique. Sed ut iaculis ligula. Nullam scelerisque lectus a purus ullamcorper, a lobortis odio iaculis. Vestibulum varius auctor nibh sit amet venenatis. Duis maximus metus et ante venenatis convallis. Sed quis odio eget ex semper dictum. Quisque eu libero pharetra, ultrices est ac, euismod dolor.         </p>
      </section>
    </div>
  </main>  