<main class="main">
  <div class="container_home">
    <h1 class="Titre">au petit village</h1>
    <p>
      “Au petit village” est une entreprise qui confectionne des figurines inspirées de la bande
      dessinée Astérix et Obélix. <br>
      Elle cible une population jeune entre 30 et 55 ans, nostalgique des aventures des célèbres
      Gaulois.
    </p>

    <div>
      <section>
        <h1 class="banner">Les figurines...</h1>

        <!-- Barre de recherche -->
        <input
          type="text"
          [(ngModel)]="searchTerm"
          placeholder="Rechercher par nom..."
        />
        
        <div>
        <!-- Menu déroulant pour le tri -->
        <label for="sort">Trier par :</label>
        <select id="sort" [(ngModel)]="sortBy">
          <option value="asc">Prix croissant</option>
          <option value="desc">Prix décroissant</option>
        </select>
        </div>

        <!-- Liste des produits -->
        <div class="products-list">
          <div
            *ngFor="let product of filteredProducts | priceSort : sortBy"
            class="product-card" (click)="viewProductDetails(product)"
          >
            <div class="product-image">
              <img [src]="product.pictureURL" alt="{{ product.name }}" />
            </div>
            <div class="product-details">
              <h3>{{ product.name }}</h3>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
